* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
}
.card-descr {
  margin: 30px auto;
}
.card-descr_cover {
  width: 100%;
  height: 40vh;
  position: relative;
  background: linear-gradient(to top, #0a0a0a, #05050500),
    url(../images/Clip\ Group_@1X.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}

.card-descr_title {
  position: absolute;
  top: 220px;
  left: 25px;
  color: rgba(255, 255, 255, 255);
  font-size: 20pt;
}
.card-descr_iconConteiner {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #9a9a9a;
}

.card-descr_icons img {
  width: 20px;
  height: 20px;
}
.favourite {
  margin-right: 20px;
}
.card-descr_titleDesktop {
  display: none;
}
.card-desc_table {
  display: none;
}
.card-descr_about {
  display: none;
}
.card-descr_aboutfilm{
  font-size: 16pt;
  color: #9a9a9a;
}

@media (min-width: 768px) {
  .card-descr {
    display: flex;
  }
  
  .card-descr_cover {
    width: 45%;
    height: 63vh;
    background: url(../images/Clip\ Group_@1X\ \(2\).png);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    margin-right: 20px;
  }
  .card-descr_title {
    display: none;
  }
  .card-descr_conteinerDescript {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    color: #9a9a9a;
  }
  .card-descr_titleDesktop {
    display: block;
    margin-bottom: 20px;
    font-size: 20pt;
    color: rgba(55, 44, 72, 255);
  }
  .card-descr_date {
    display: none;
  }

  .card-desc_table {
    border-collapse: collapse;
  font-size: 16pt;
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  .card-desc_tbody{
    width: 100%;
  }
  .first {
    width: 100px;
    height: 30px;
    padding-left: 5px;
   
  }
  .second {
    width: 500px;
    padding-left: 5px;

    border: none;
    
  }
  .table_color {
    background-color: #addad6;
  }
  .card-desc_table tr {
width: 100%;
  }
  .card-descr_about {
    display: block;
    margin-bottom: 10px;
    color: rgba(55, 44, 72, 255);
    font-size: 20pt;
  }
  
}
@media (min-width: 1024px) {
  .card-descr_cover {
    height: 75vh;
}
.first {
  width: 100px;
}
.second {
  width: 700px;
}
}